body>table {
    width: 100%;
}
body {
    background-image:  url("");
    background-repeat: no-repeat;
    background-size: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}
table.list {
    width: 100%;
    margin-bottom: 65%;

}

.td{
    background-color: #56dd34;

}
.ed{
    background-color: #2b0daf;
    padding: 10px;  
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.hp {
    background-color: #f50707;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}
.hd {
    background-color: #56dd34;
    padding: 15px;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}
.input {
    background-color: #791ef1;
    padding: 15px;
    margin-left: 0%;
    border-radius: 5px;
    text-decoration: none;
    color: white;

}
td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
}

table.list thead>tr {
    background-color: #56dd34;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #56dd34;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 30%;
    background-color: #4534dd;
    color: rgb(255, 247, 247);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: right;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    margin-right: 4px;
}

b {
    cursor: pointer;
    text-decoration: underline;
    color: red;
    margin-right: 4px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}